<div class="container">
  <mat-card style="width: 100% ; height: 90%">
    <mat-card-title>Announcement details :</mat-card-title>

    <mat-card-subtitle style="font-size: large ; color: black ; padding-bottom: 15px;">Title : {{announcement.title}}</mat-card-subtitle>

    <mat-card-content>Address : {{announcement.property.address.address}},{{announcement.property.address.city}},{{announcement.property.address.county}}</mat-card-content>
    <mat-card-content>Description:  </mat-card-content>
    <mat-card-content>{{announcement.property.description}}</mat-card-content>
    <mat-card-content>Area size: {{announcement.property.areaSize}} </mat-card-content>
    <mat-card-content>Number of bathrooms: {{announcement.property.numberOfBathrooms}} </mat-card-content>
    <mat-card-content>Number of rooms: {{announcement.property.numberOfRooms}} </mat-card-content>
    <mat-card-content>Price: ${{announcement.property.price}} </mat-card-content>
  </mat-card>


</div>

