
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar><img src="assets/img/logo.jpg" alt="Logo" class="myimage"/></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink= '/renter/profile' style=" margin-top: 80px;">
        <i class="material-icons" style="margin-right: 5px ">home</i>My Profile</a>

      <a mat-list-item routerLink= '/renter/announcements'>
        <i class="material-icons" style="margin-right: 5px">assignment</i>Announcements</a>
      <a mat-list-item routerLink= '/renter/payments'>
        <i class="material-icons" style="margin-right: 5px">payment</i>Payments</a>
      <a mat-list-item routerLink= '/renter/messages'>
        <i class="material-icons" style="margin-right: 5px">chat </i> Messages
      </a>
      <a mat-list-item routerLink= '/renter/tasks'>
        <i class="material-icons" style="margin-right: 5px">work </i> Tasks
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div style="width: 100%">
        <div style="float: right; color: white"><i class="material-icons" id="pointer" routerLink="/login">subdirectory_arrow_right</i></div>
        <div style="color: white"> The Hut </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
