.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav{
  background-color: darkslategrey;
}

.mat-list-item{
  color: white;
  margin-top: 20%;
}

.mat-toolbar{
  background-color: darkslategrey;
}
.mat-icon{
  color: white;
}

.myimage{
  margin-top: 50px;
  max-width: 170px;
  max-height: 250px;
}
#pointer {cursor: pointer;}
