<div class="example-container">
  <div class="container-login">
    <div class="wrap-login p-t-85 p-b-20">
      <form class="login-form" ng-class="{submitted: }">
        <span class="login-form-title">Welcome</span>
        <span class="login-form-avatar"><img src="assets/img/logo.jpg" alt="Logo"/></span>
        <div class="container-login-form-btn">
          <div class="form-group wrap-input  m-b-35" data-validate="Enter username">
            <input class="input" type="text" name="username" [(ngModel)]='username' required>
            <span class="focus-input" data-placeholder="Username"></span>
          </div>
          <div class="form-group wrap-input m-b-50" data-validate="Enter password">
            <input class="input" type="password" name="password" [(ngModel)]='password' required>
            <span class="focus-input" data-placeholder="Password"></span>
          </div>

          <button class="login-form-btn" (click)='handleLogin()'>Login</button>
        </div>
        <ul class="login-more p-t-190">
						<li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

							<a href="#" class="txt2">
								Username / Password?
							</a>
						</li>

						<li>
							<span class="txt1">
								Don’t have an account?
							</span>
              <a href="#" [routerLink]="['/sign-in']" class="txt2">
								Sign up
							</a>
						</li>
        </ul>
      </form>
    </div>
  </div>
</div>
