<div class="example-container">
  <div class="container-login">
    <div class="wrap-login p-t-85 p-b-20">
      <form class="login-form">
        <span class="login-form-title">SignIn</span>
        <span class="login-form-avatar"><img src="assets/img/logo.jpg" alt="Logo"/></span>
        <div class="container-login-form-btn">
          <div class="wrap-input  m-b-25" data-validate="Enter username">
            <input class="input" type="text" name="username" [(ngModel)]='username' required>
            <span class="focus-input" data-placeholder="Username"></span>
          </div>

          <div class="wrap-input m-b-25" data-validate="Enter password">
            <input class="input" type="password" name="password" [(ngModel)]='password' required>
            <span class="focus-input" data-placeholder="Password"></span>
          </div>

          <div class="wrap-input m-b-25" data-validate="ReEnter password">
            <input class="input" type="password" name="repeatPassword" [(ngModel)]='repeatPassword' required>
            <span class="focus-input" data-placeholder="Repeat Password"></span>
          </div>

          <div class="wrap-input  m-b-25" data-validate="Enter email address">
            <input class="input" type="email" name="emailAddress" [(ngModel)]='emailAddress' required>
            <span class="focus-input" data-placeholder="Email Address"></span>
          </div>

          <div class="wrap-input  m-b-25" data-validate="Enter phone number">
            <input class="input" type="text" name="phoneNumber" [(ngModel)]='phoneNumber'>
            <span class="focus-input" data-placeholder="Phone number"></span>
          </div>

          <div class="material-switch pull-right m-b-25"> <span class="text-padding">Landlord:</span>
            <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" [(ngModel)]='userType'>
            <label for="someSwitchOptionSuccess" class="label-success"></label>
          </div>
          <button class="login-form-btn" (click)='handleSignIn()'>SignIn</button>
        </div>
      </form>
    </div>
  </div>
</div>
