.container{
  margin-left: 10px;
  margin-top: 20px;
}

.starter{
  margin-bottom: 20px;
}
.mat-button{
  background-color: darkblue;
  margin-top: 15px;
  margin-left: 35px;
  margin-bottom: 55px;
  color: white;
}

.mat-card{
  margin-top: 10px;
}
ul {
  list-style-type: none;
}
.spacer{
  margin-right: 10px;
}
.mat-card-actions{
  padding: 10px;
}
#pointer {cursor: pointer;}
