
<div class="container">
  <div>
<button mat-button class="starter" routerLink='/landlord/add-property'>Add a property</button>
</div>
  <div>
    <ul>
    <li *ngFor="let record of records">
      <mat-card>
        <mat-card-title>{{record.address.address}} , {{record.address.city}} , {{record.address.county}}</mat-card-title>
        <mat-card-subtitle>Price : ${{record.price}}</mat-card-subtitle>
        <mat-card-content>{{record.description}}</mat-card-content>
        <mat-card-actions align="end">
          <i class="material-icons" id="pointer" style="margin-right: 15px" (click)='handleShow(record)'>open_in_new</i>
          <i class="material-icons" id="pointer" style="margin-right: 15px" (click)='handleUpdate(record)'> edit </i>
          <i class="material-icons" id="pointer" (click)='handleDelete(record.id)'> delete </i>
        </mat-card-actions>
      </mat-card>
    </li>
    </ul>
  </div>


  </div>

