<div class="container">
  <mat-card>
    <mat-card-title>Property Details :</mat-card-title>
    <mat-card-content>Address : {{property.address.address}},{{property.address.city}},{{property.address.county}}</mat-card-content>
    <mat-card-content>Description:  </mat-card-content>
    <mat-card-content>{{property.description}}</mat-card-content>
    <mat-card-content>Area size: {{property.areaSize}} </mat-card-content>
    <mat-card-content>Number of bathrooms: {{property.numberOfBathrooms}} </mat-card-content>
    <mat-card-content>Number of rooms: {{property.numberOfRooms}} </mat-card-content>
    <mat-card-content>Price: {{property.price}} </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Renters assigned to this property :</mat-card-title>
    <ul>
      <li *ngFor="let user of users">
        <mat-card-content>
        {{user.username}} , {{user.emailAddress}} , {{user.phoneNumber}}
        </mat-card-content>
      </li>
    </ul>
  </mat-card>

  <mat-card>
    <mat-card-title>Remove a renter from this property :</mat-card-title>
  <select [(ngModel)]="selectedUser">
    <option *ngFor="let c of users" [ngValue]="c">{{c.username}}</option>
  </select>
  <button mat-button (click)="handleRemove()">Remove</button>
  </mat-card>

  <mat-card>
    <mat-card-title>Assign a renter to this property :</mat-card-title>
  <mat-form-field>
    <input style="margin-right: 10px" matInput type="text"  placeholder="Username" [(ngModel)]='username'>
  </mat-form-field>
  <button mat-button (click)="handleAdd()">Add</button>
  </mat-card>
</div>

