<div class="example-container">

  <mat-card style="width: 100%">
    <div align="center">
    <mat-card-content>

  <input style="width: 50% ; align-content: center ; margin-bottom: 5px ; padding: 5px" matInput type="text"  placeholder="Title" [(ngModel)]='title' required>

    </mat-card-content>
    <mat-card-content>
  <select style="width: 50%" [(ngModel)]="property">
      <option *ngFor="let c of records" [ngValue]="c">{{c.address.address}} ,{{c.address.city}}, {{c.address.county}}</option>
    </select>
    </mat-card-content>
</div>

  <mat-card-content>
  <div style="width:60%; margin: 0 auto;">
    <div style="float: left; width: 50%; text-align: center;">
      <button mat-button style="background-color: darkblue ; color: white" (click)='handleAdd()'> Save</button>
    </div>
    <div style="float: right; width: 50%; text-align: center;">
      <button mat-button style="background-color: darkblue ; color: white" routerLink='/landlord/announcements'> Back</button>

    </div>
  </div>
  </mat-card-content>
  </mat-card>

</div>
