
<div class="container">
  <div>
    <button mat-button class="starter" routerLink='/landlord/add-announcement'>Add an announcement</button>
  </div>
  <div>
    <ul>
      <li *ngFor="let announcement of announcements">
        <mat-card>
          <mat-card-title>{{announcement.title}}</mat-card-title>
          <mat-card-subtitle>Price : ${{announcement.property.price}}</mat-card-subtitle>
          <mat-card-content>{{announcement.property.address.address}} , {{announcement.property.address.city}} , {{announcement.property.address.county}}</mat-card-content>
          <mat-card-actions align="end">
            <i class="material-icons" id="pointer" style="margin-right: 15px" (click)='handleShow(announcement)'>open_in_new</i>
            <i class="material-icons" id="pointer" style="margin-right: 15px" (click)='handleUpdate(announcement)'> edit </i>
            <i class="material-icons" id="pointer" (click)='handleDelete(announcement.id)'> delete </i>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>


</div>

