
<div class="container">

  <div>
    <ul>
      <li *ngFor="let announcement of announcements | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
        <mat-card>
          <mat-card-title>{{announcement.title}}</mat-card-title>
          <mat-card-subtitle>Price : ${{announcement.property.price}}</mat-card-subtitle>
          <mat-card-content>{{announcement.property.address.address}} , {{announcement.property.address.city}} , {{announcement.property.address.county}}</mat-card-content>
          <mat-card-actions align="end">
          </mat-card-actions>
          <mat-card-actions align="end">
            <i class="material-icons" id="pointer" style="margin-right: 15px" (click)='handleShow(announcement)'>open_in_new</i>
          </mat-card-actions>
        </mat-card>
      </li>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ul>

  </div>


</div>

