<div class="example-container">
  <mat-card style="width: 100%">
    <mat-card-content>
  <mat-form-field style="width: 80%">
    <input matInput type="text"  placeholder="Insert announcement's title" [(ngModel)]='title' required>
  </mat-form-field>
    </mat-card-content>

    <mat-card-content>
  <div style="width:60%; margin: 0 auto;">
    <div style="float: left; width: 50%; text-align: center;">
      <button mat-button style="background-color: darkblue ; color: white" (click)='handleUpdate()'> Update</button>
    </div>
    <div style="float: right; width: 50%; text-align: center;">
      <button mat-button style="background-color: darkblue ; color: white" routerLink='/landlord/announcements'> Back</button>

    </div>
  </div>
    </mat-card-content>
  </mat-card>
</div>
