
<div class="container">

  <div>
    <ul>
      <li *ngFor="let payment of payments">
        <mat-card>
          <mat-card-title>{{payment.user}}</mat-card-title>
          <mat-card-content>Amount : ${{payment.amount}}</mat-card-content>
        </mat-card>
      </li>
    </ul>

  </div>


</div>

