<div class="container">
  <mat-card>
    <mat-card-title>Title : {{announcement.title}}</mat-card-title>

    <mat-card-subtitle style="font-size: large ; color: black ; padding-bottom: 15px;">Property details :</mat-card-subtitle>
    <mat-card-content>Address : {{announcement.property.address.address}},{{announcement.property.address.city}},{{announcement.property.address.county}}</mat-card-content>
    <mat-card-content>Description:  </mat-card-content>
    <mat-card-content>{{announcement.property.description}}</mat-card-content>
    <mat-card-content>Area size: {{announcement.property.areaSize}} </mat-card-content>
    <mat-card-content>Number of bathrooms: {{announcement.property.numberOfBathrooms}} </mat-card-content>
    <mat-card-content>Number of rooms: {{announcement.property.numberOfRooms}} </mat-card-content>
    <mat-card-content style="padding-bottom: 15px">Price: ${{announcement.property.price}} </mat-card-content>

    <mat-card-subtitle style="font-size: large ; color: black ; padding-bottom: 15px;">Landlord details :</mat-card-subtitle>
    <mat-card-content>Username: {{user.username}} </mat-card-content>
    <mat-card-content>Email: {{user.emailAddress}} </mat-card-content>
    <mat-card-content>Phone Number: {{user.phoneNumber}} </mat-card-content>

  </mat-card>


</div>

