<ul>
   <li>
     <a>
       <mat-form-field>
         <mat-select [(ngModel)]="assignee" placeholder="Assignee">
           <mat-option *ngFor="let assignee of assignees" value="{{assignee.username}}">{{assignee.username}}</mat-option>
         </mat-select>
       </mat-form-field>
       <mat-form-field>
        <input [(ngModel)]="title" matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field>
       <textarea [(ngModel)]="description" matInput placeholder="Text"></textarea>
     </mat-form-field>
     <button (click)="handleAddTask()" mat-mini-fab>
       <mat-icon aria-label="Asign">done</mat-icon>
     </button>
      </a>
   </li>
   <li *ngFor="let task of tasks; index as i">
     <a>
       <h3>Assignee: {{task.assignee}}</h3>
       <h3>Title: {{task.title}}</h3>
       <p>Description: {{task.description}}</p>
       <button class="close" (click)="deleteButton(i)" mat-mini-fab>
         <mat-icon aria-label="Close">close</mat-icon>
       </button>
      </a>
   </li>
</ul>
