<div class="example-container">
  <mat-form-field>
    <input matInput type="text"  placeholder="Username" [(ngModel)]='username'  required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text"  placeholder="E-mail" [(ngModel)]='email' required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text"  placeholder="Phone number" [(ngModel)]='phoneNumber' required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password"  placeholder="Current password" [(ngModel)]='currentPassword' required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password"  placeholder="Password" [(ngModel)]='password' >
  </mat-form-field>

  <div style="width:60%; margin: 0 auto;">
    <div style="float: left; width: 50%; text-align: center;">
        <button mat-button style="background-color: darkblue ; color: white" (click)='handleUpdate()'> Update</button>
    </div>
    <div style="float: right; width: 50%; text-align: center;">
      <button mat-button style="background-color: darkblue ; color: white" routerLink='/landlord/profile'> Cancel</button>

    </div>

  </div>
</div>