.right {
    text-align: right;

}

#messages-container{
    width:1000px;

}

.group-details{
    background: #57b846;

}

#group-name 
{ color: #080808; padding-left: 20px; padding-top: 10px; font-family: "Great Vibes", cursive; font-size: 25px; line-height: 50px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }
#group-members-title
{ color: #080808;  padding-left: 20px; padding-bottom: 10px; font-family: "Great Vibes", cursive; font-size: 15px; line-height: 20px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }


#from{
    color: black;
    font-size: 0.7em;
}

#big-container{
    margin: 0 auto;
    width: 74%; 
    padding-top: 50px; 
}

.right  p  span{
    background: #9ab846;

}

.chatbox{
    width:1000px;
    height:520px;
    border: 2px solid #57b846;
    padding: 16px;
    background: #c4e492;

}
.messages{
    height:400px;
    overflow: auto;
}
.input-container{
    background: #c4e492;
    height: 100px;
    margin-left: -16px;
    margin-right: -16px;
    vertical-align: middle;
    padding-top: 3px;
    border-top:2px solid #57b846;
}
.input-container .inputtext{
    width:calc(100% - 100px);
}

input#message{
    background: none;
    border: none;
    /* border-bottom: 1px solid #092404; */
    outline: none;
    box-shadow: none;
    color: black;
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 3em;
    padding: 1.2em 0;
}

.messages p span{
    background: #57b846;
    padding: 0.3em;
    height: 20p;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}


button{
    background: #57b846;
    color: black;
    padding: 0.8em;
    width: 90px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    cursor: pointer;
}