<div id="big-container" >
    <div id="messages-container">
    <div class="group-details">
        <!-- <p> <span id="group-name"> {{group.groupName}} </span> </p> -->
            <span id="group-members-title">Group members: </span> 
        <span id="group-members">   {{groupMembers}} </span> 
    </div>
    <div class="chatbox">
    
    
        <div class="messages">
            <div *ngFor="let message of messagesList" [class.right]="message.self">
                <a id="from">{{message.from}} </a>
                <p> <span> {{message.text}} </span> </p>
            </div>
        </div>
    
        <div class="input-container">
            <span>
                <input type="text" id="message" class="inputtext" maxlength="100" [(ngModel)]="replyMessage">
                <button class="replyBtn" (click)="reply()">Send</button>
            </span>
        </div>
    
    </div>
    </div>
</div>


