<div class="example-container">
  <mat-form-field>
    <input matInput type="text"  placeholder="Address" [(ngModel)]='address' required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text"  placeholder="County" [(ngModel)]='county' required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text"  placeholder="City" [(ngModel)]='city' required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"  placeholder="Number of rooms" [(ngModel)]='numberOfRooms' required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"  placeholder="Number of bathrooms" [(ngModel)]='numberOfBathrooms'>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"  placeholder="Surface" [(ngModel)]='areaSize'>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"  placeholder="Price" [(ngModel)]='price' required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput type="text"  placeholder="Description" [(ngModel)]='description'></textarea>
  </mat-form-field>


  <div style="width:60%; margin: 0 auto;">
    <div style="float: left; width: 50%; text-align: center;">
      <button mat-button style="background-color: darkblue ; color: white" (click)='handleUpdate()'> Update</button>
    </div>
    <div style="float: right; width: 50%; text-align: center;">
      <button mat-button style="background-color: darkblue ; color: white" routerLink='/landlord/properties'> Back</button>

    </div>
  </div>

</div>
