<div class="center">
  <img src="assets/img/paypalImage.png" alt="Paypal"/>
  <!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;"> -->
  <label style="display: block" class="center">You have to pay: {{finalAmount}} USD</label>
  <div id="paypal-checkout-btn" class="center"></div>
</div>
