@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-green, 600);
$candy-app-accent:  mat-palette($mat-blue-grey);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme)
